#############################################
# 🔧 Laravel 基本設定
#############################################
APP_NAME=Syswaw
APP_ENV=local
APP_KEY=base64:pItE2unF+RiZoWqfvELLPyfS68dnEu27d8aH39rT7UY=
APP_DEBUG=true
APP_URL=https://sys.tg25.win

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

#############################################
# 🛢️ 資料庫設定
#############################################
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=syswaw
DB_USERNAME=syswaw
DB_PASSWORD=we123123

#############################################
# ✉️ 郵件設定
#############################################
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=htmlawrence@gmail.com
MAIL_PASSWORD=pbhgjzrficnktqme
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="admin@tg25.win"
MAIL_FROM_NAME="${APP_NAME}"

#############################################
# 📦 Redis 設定
#############################################
REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0

#############################################
# 🗂️ Session / Cache / Queue / BROADCAST
#############################################
BROADCAST_DRIVER=reverb
BROADCAST_CONNECTION=reverb
CACHE_DRIVER=redis
REDIS_CACHE_DB=0
SESSION_DRIVER=database
SESSION_LIFETIME=120
#QUEUE_CONNECTION=redis

#############################################
# 📁 檔案儲存
#############################################
FILESYSTEM_DISK=public

#############################################
# 🚀 Laravel Reverb 設定
#############################################
# Reverb 應用認證
REVERB_APP_ID=sys-app
REVERB_APP_KEY=sys-key
REVERB_APP_SECRET=sys-secret

# Reverb 應用認證
REVERB_APP_ID=sys-app
REVERB_APP_KEY=sys-key
REVERB_APP_SECRET=sys-secret

# Reverb 服務器接設定
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=6001

# Reverb / broadcasting 應用設定
REVERB_HOST=127.0.0.1
REVERB_PORT=6001
REVERB_SCHEME=http
REVERB_PATH=
REVERB_PULSE_INGEST_INTERVAL=15
REVERB_TELESCOPE_INGEST_INTERVAL=15

# 前端變數 (Vite)
VITE_REVERB_APP_KEY=sys-key
VITE_REVERB_HOST=sys.tg25.win
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME=wss
VITE_REVERB_PATH=

# Broadcast 設定
BROADCAST_DRIVER=reverb    #若要用 Redis 廣播（不經 Reverb），只要改成這樣：BROADCAST_DRIVER=redis
BROADCAST_CONNECTION=reverb

TCP_API_KEY=2aqaz123123


